:root {
    --white: rgb(255, 255, 255);
    --green: rgb(0, 194, 0);
    --green2: rgb(4, 97, 24);
    --red: rgb(173, 0, 0);
    --orange: #ff9800;
    --yellow: rgb(255, 255, 0);
    --blue: rgb(0, 120, 255);
    --pink: rgb(237, 34, 255);
    --purple: rgb(137, 47, 255);
    --grey: rgb(105, 105, 105);
    --darkgrey5: rgba(27, 28, 29, 0.75);
    --bg1: rgb(102, 255, 13);
    --bg2: rgb(20, 156, 43);
    --bg3: rgb(16, 68, 0);
}

.ui.menu, .ui.button {
    font-family: 'Electrolize';
 }

body {
    font-family: 'Electrolize';
    background-color: rgb(34, 119, 238);
    color: #FFF;
    font-size: 1rem;
    background: linear-gradient(115deg, var(--bg1), var(--bg2), var(--bg3));
    background-size: 300% 400%;
    -webkit-animation: bganim 5s ease infinite !important;
    animation: bganim 5s ease infinite !important;
}

@keyframes bganim {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('img/bg.png');
    background-size: cover;
    background-position: center center;
    z-index: -1;
}

.ui.inverted.menu,
.ui.black.message,
.ui.inverted.message {
    background-color: var(--darkgrey5) !important;
    text-align: center;
}

.rouge {
    color: var(--red);
}

.vert {
    color: var(--green);
}

.vert2 {
    color: var(--green2);
}

.bleu {
    color: var(--blue);
}

.jaune {
    color: var(--yellow);
}

.orange {
    color: var(--orange);
}

.gris {
    color: var(--grey);
}

.ui.header,
.ui.header .sub.header {
    color: #FFF;
    text-align: center;
}

.ui.inverted.segment .segment {
    color: #FFF;
}

.ui.inverted.segment,
.ui.primary.inverted.segment {
    background: transparent;
}

.ui.horizontal.segments {
    background: transparent;
}

.DPI {
    font-size: 2rem !important;
    margin: 0 !important;
    display: block;
}

.ui.vertical.menu .item>.DPI {
    width: 1.18em;
    float: right;
}

.nopadding {
    padding: 0!important;
}

.MobileTitle {
    font-family: 'Electrolize';
    color: #FFF;
    padding: .5em;
    font-size: 3em;  
}

.DPC {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.title {
    color: var(--white) !important;
    font-size: 1.5em !important;
    font-family: 'Electrolize', sans-serif !important;
    font-weight: normal;
    vertical-align: middle;
    margin-bottom: 0 !important;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Chrome and Opera */
}

.glow {
    text-shadow: 0px 0px .75rem var(--green) !important;
}

.titlecontainer {
    background: var(--darkgrey);
    position: relative;
    top: 0;
    left: 0%;
    right: 0%;
}

.glitch {
    color: white;
    font-size: 3rem;
    margin: 0 auto;
    position: relative;
    top: 0rem;
    height: 100%;
}

.glitch:after {
    animation: glitch-animation 2s infinite linear alternate-reverse;
    clip: rect(0, 900px, 0, 0);
    background: var(--darkgrey);
    color: #ffffff;
    content: attr(data-text);
    overflow: hidden;
    left: 0;
    position: absolute;
    text-shadow: -2px 0 var(--green);
    top: 0rem;
    height: 100%;
}

.glitch:before {
    animation: glitch-animation-2 3s infinite linear alternate-reverse;
    clip: rect(0, 900px, 0, 0);
    background: var(--darkgrey);
    color: #ffffff;
    left: 0;
    content: attr(data-text);
    overflow: hidden;
    position: absolute;
    text-shadow: 2px 0 var(--red);
    top: 0rem;
    height: 100%;
}

@keyframes glitch-animation {
    0% {
        clip: rect(42px, 9999px, 44px, 0);
    }

    5% {
        clip: rect(12px, 9999px, 59px, 0);
    }

    10% {
        clip: rect(48px, 9999px, 29px, 0);
    }

    15.0% {
        clip: rect(42px, 9999px, 73px, 0);
    }

    20% {
        clip: rect(63px, 9999px, 27px, 0);
    }

    25% {
        clip: rect(34px, 9999px, 55px, 0);
    }

    30.0% {
        clip: rect(86px, 9999px, 73px, 0);
    }

    35% {
        clip: rect(20px, 9999px, 20px, 0);
    }

    40% {
        clip: rect(26px, 9999px, 60px, 0);
    }

    45% {
        clip: rect(25px, 9999px, 66px, 0);
    }

    50% {
        clip: rect(57px, 9999px, 98px, 0);
    }

    55.0% {
        clip: rect(5px, 9999px, 46px, 0);
    }

    60.0% {
        clip: rect(82px, 9999px, 31px, 0);
    }

    65% {
        clip: rect(54px, 9999px, 27px, 0);
    }

    70% {
        clip: rect(28px, 9999px, 99px, 0);
    }

    75% {
        clip: rect(45px, 9999px, 69px, 0);
    }

    80% {
        clip: rect(23px, 9999px, 85px, 0);
    }

    85.0% {
        clip: rect(54px, 9999px, 84px, 0);
    }

    90% {
        clip: rect(45px, 9999px, 47px, 0);
    }

    95% {
        clip: rect(37px, 9999px, 20px, 0);
    }

    100% {
        clip: rect(4px, 9999px, 91px, 0);
    }
}

@keyframes glitch-animation-2 {
    0% {
        clip: rect(65px, 9999px, 100px, 0);
    }

    5% {
        clip: rect(52px, 9999px, 74px, 0);
    }

    10% {
        clip: rect(79px, 9999px, 85px, 0);
    }

    15.0% {
        clip: rect(75px, 9999px, 5px, 0);
    }

    20% {
        clip: rect(67px, 9999px, 61px, 0);
    }

    25% {
        clip: rect(14px, 9999px, 79px, 0);
    }

    30.0% {
        clip: rect(1px, 9999px, 66px, 0);
    }

    35% {
        clip: rect(86px, 9999px, 30px, 0);
    }

    40% {
        clip: rect(23px, 9999px, 98px, 0);
    }

    45% {
        clip: rect(85px, 9999px, 72px, 0);
    }

    50% {
        clip: rect(71px, 9999px, 75px, 0);
    }

    55.0% {
        clip: rect(2px, 9999px, 48px, 0);
    }

    60.0% {
        clip: rect(30px, 9999px, 16px, 0);
    }

    65% {
        clip: rect(59px, 9999px, 50px, 0);
    }

    70% {
        clip: rect(41px, 9999px, 62px, 0);
    }

    75% {
        clip: rect(2px, 9999px, 82px, 0);
    }

    80% {
        clip: rect(47px, 9999px, 73px, 0);
    }

    85.0% {
        clip: rect(3px, 9999px, 27px, 0);
    }

    90% {
        clip: rect(26px, 9999px, 55px, 0);
    }

    95% {
        clip: rect(42px, 9999px, 97px, 0);
    }

    100% {
        clip: rect(38px, 9999px, 49px, 0);
    }
}

.ui.inverted.menu a.item:active,
.ui.inverted.menu .active.item,
.ui.inverted.menu a.item:active:hover {
    background: var(--darkgrey5);
    color: #fff;
    border-bottom: .2em solid var(--green);
    -webkit-animation: borders 5s infinite alternate !important;
    animation: borders 5s infinite alternate !important;
}

@keyframes borders {
    0% {
        border-color: var(--bg1);
    }

    25% {
        border-color: var(--bg2);
    }

    75% {
        border-color: var(--bg3);
    }

    100% {
        border-color: var(--bg1);
    }
}

.borders {
    -webkit-animation: borders 2s infinite alternate !important;
    animation: borders 2s infinite alternate !important;
}

.footer {
    bottom: 0%;
    left: 0%;
    right: 0%;
    position: fixed!important;
    margin: 0!important;
}